@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
}

section{
	margin-bottom: 100px;
}

.header {
	display: flex;
	justify-content: space-between;
}
.header__logo {
	background-color: #8fe859;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
}
.header__nav {
	display: flex;
	gap: 30px;
}
.header__link {
	color: #6c6c6c;
	font-size: 16px;
	font-weight: 700;
}
.header {
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
}
.header__logo {
	background-color: #8fe859;
	color: #fff;
	font-size: 30px;
	font-weight: 700;

	height: 100%;
	width: 302px;
}
.header__logo {
	background-color: #8fe859;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	height: 100%;
	width: 302px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sectiton-hello {
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 600px;
	background-image: url('./img/Фон.jpg');
}
.sectiton-hello__title {
	color: #000;
	font-size: 55px;
	font-weight: 700;
}

.sectiton-hello__p {
	color: #6c6c6c;
}

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #8fe859;
	height: 200px;
	align-items: center;
}

.footer_nav-logo {
	width: 300px;
	height: 98px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.footer_nav-logo a {
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
.footer_nav {
	display: flex;
	flex-direction: column;

	gap: 5px 0px;
}

.footer_nav a {
	color: #fff;
	font-size: 16px;
	font-weight: 700px;
}
.footer_nav-socials {
	display: flex;
	gap: 0px 20px;
}

.footer_nav-socials {
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
}
.header__link:hover {
	color: #8fe859;
	font-size: 18px;

	transition-property: all;
	transition-duration: 0.9s;
	transition-timing-function: ease;
}
.header__link:active {
	font-weight: 900;
	color: #8fe859;
	font-size: 20px;

	transition-property: all;
	transition-duration: 0.9s;
	transition-timing-function: ease;
}

.header__link:active {
	font-weight: 900;
	color: #8fe859;
	font-size: 20px;

	transition-property: all;
	transition-duration: 0.9s;
	transition-timing-function: ease;
}

.aboutme__ainfo-containar {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 80px);
	gap: 30px;
	grid-template-rows: 410px;

	justify-content: center;
}

.aboutme__img {
	grid-column: 2/6;

	border-radius: 20px;
	background: #d9d9d9;
}

.aboutme__text {
	grid-column: 6/12;
	align-self: center;
}

.aboutme-roket-top {
	position: relative;
	height: 60px;
}

.aboutme-roket-top svg {
	position: absolute;
	top: 0;

	height: 60px;
	width: 60px;

	animation-name: animate;
	animation-duration: 1s;
}

.aboutme__btn {
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

@keyframes animate {
	0% {
		left: 0px;
	}
	50% {
		left: 100px;
	}
	100% {
		left: 0px;
	}
}
.mehobby_title{
	font-size: 35px;
	font-weight: 700;
	color:#77c547;
}

.s-elem_content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 16px;
}
  

.s-elem_img {
 width: 100%;
 height: 350px;

 background-color: #d9d9d9;
 border-radius: 20px;
}


.s-elem_title {
 color: #000!important;
 text-align: center;
 font-size: 30px; 
 font-weight: 400;
}

.s-elem_text {
	color: #4a4545!important;
 	text-align: center;
 	font-size: 16px;
 	font-weight: 400; 
}



.img-1{
	background-image: url("https://basket-01.wb.ru/vol25/part2538/2538004/images/big/1.jpg");
	background-size: cover;
}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































